In [1]:
# import libs
import numpy as np
import pandas as pd

In [21]:
# read flight data
df_flights = pd.read_csv('2008.csv')
# read carrier descriptions
carriers = pd.read_csv('carriers.csv')
# read airport descriptions
airports = pd.read_csv('airports.csv')

In [22]:
# print flight columns
df_flights.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [23]:
# print carrier columns
carriers.columns

Index(['Code', 'Description'], dtype='object')

In [24]:
# print airport columns
airports.columns

Index(['iata', 'airport', 'city', 'state', 'country', 'lat', 'long'], dtype='object')

In [25]:
# merge the carrier dataset into the flights dataset
df_flights = df_flights.merge(carriers, left_on='UniqueCarrier', right_on='Code', suffixes=(False, False))

In [28]:
# merge the airport dataset into the flights dataset regarding the origin of flights
df_flights = df_flights.merge(airports, left_on='Origin', right_on='iata', suffixes=(False, False))

In [30]:
# merge the airport dataset into the flights dataset regarding the destination of flights
df_flights = df_flights.merge(airports, left_on='Dest', right_on='iata', suffixes=('_origin', '_dest'))

In [35]:
# dictionary of month descriptions to alias Month column
months = {1: 'January',
         2: 'February',
         3: 'March',
         4: 'Abril',
         5: 'May',
         6: 'June',
         7: 'July',
         8: 'August',
         9: 'September',
         10: 'October',
         11: 'November',
         12: 'December',}

In [36]:
# create new column as the description of each month
df_flights['MonthDescription'] = df_flights['Month'].apply(lambda x: months[x])

In [63]:
# prints the columns to see the results
df_flights.groupby('Month')[['Month','MonthDescription']].head(1).sort_values(by='Month')

     Month MonthDescription
0        1          January
61       2         February
119      3            March
181      4            Abril
241      5              May
302      6             June
362      7             July
424      8           August
483      9        September
536     10          October
594     11         November
644     12         December

In [39]:
# dictionary of the days of week to create alias 
day_of_week = {
    1: 'Monday',
    2: 'Tuesday',
    3: 'Wednesday',
    4: 'Thursday',
    5: 'Friday',
    6: 'Saturday',
    7: 'Sunday'
}

In [40]:
# create new column as the description of each day of the week
df_flights['DayOfWeekDescription'] = df_flights['DayOfWeek'].apply(lambda x: day_of_week[x])

In [64]:
# prints the columns to see the results
df_flights.groupby('DayOfWeek')[['DayOfWeek','DayOfWeekDescription']].head(1).sort_values(by='DayOfWeek')

    DayOfWeek DayOfWeekDescription
8           1               Monday
10          2              Tuesday
12          3            Wednesday
0           4             Thursday
2           5               Friday
4           6             Saturday
6           7               Sunday

In [48]:
# dictionary of cancel reasons
cancel_reasons = {
    'A': 'carrier',
    'B': 'weather',
    'C': 'NAS',
    'D': 'security'
}

In [53]:
# creates new column as the description of the reason of cancellations
df_flights['CancellationDescription'] = df_flights['CancellationCode'].apply(lambda x:
                                                                             cancel_reasons[x] if not pd.isna(x) else '')

In [65]:
# print the columns to see the results
df_flights.groupby('CancellationCode')[['CancellationCode','CancellationDescription']].head(1).sort_values(by='CancellationCode')

        CancellationCode CancellationDescription
459                    A                 carrier
820                    B                 weather
6079                   C                     NAS
1372162                D                security
0                    NaN

In [66]:
# save the enhanced dataset
df_flights.to_csv('flights-2008-enhanced.csv')